[Desktop Entry]
Type=Application
Name=RustyDeck
Comment=Control an Elgato Stream Deck
Exec=rustydeck
Icon=rustydeck
Terminal=false
Categories=Utility;
Keywords=streamdeck;elgato;macro;
StartupWMClass=rustydeck
